doctype html
html
  head
    script(src='/javascripts/jquery-2.1.3.min.js')
    script(src='/javascripts/search.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body